modules = ["nodejs-20", "postgresql-16"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[nix]
channel = "stable-24_05"
